<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="col-main">
          {{ content }}
        </div>
        <div class="col-second">
          {% include sidebar.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129148011-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129148011-1');
</script>
